@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Raleway:wght@400;500;600;700&display=swap');

// COLORS

$princess-plush: #FFF7F5;
$goddess-grey: #7E7E7E 46%;
$bold: #000;
$peace: #fff;

// FONTS 
$main: 'Raleway', sans-serif;
$title: 'Julius Sans One', sans-serif;