@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Raleway:wght@400;500;600;700&display=swap");
section {
  height: 100vh;
  width: 100%;
}

.hero {
  height: 40vh;
  background: #FFF7F5;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .hero {
    height: 40vh;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .nav {
    width: 100%;
  }
}

.hero_text {
  padding: 3em 2em;
  background: #FFF7F5;
  margin-top: 20px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .hero_text {
    padding: 3em 10em;
    text-align: center;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .hero_text {
    height: 60%;
    width: 50%;
    position: fixed;
    left: 0;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    margin-top: 10em;
    padding: 10em 8em;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 20%;
  }
}

.hero_title {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
}

.sub_title {
  font-family: "Julius Sans One", sans-serif;
}

.hero_side {
  display: none;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .hero_side {
    display: block;
    height: 70%;
    width: 50%;
    background: #fff;
    position: fixed;
    right: 0;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    margin-top: 9em;
  }
}

.hero_img {
  display: none;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .hero_img {
    display: block;
    height: 400px;
    width: 400px;
    display: block;
    margin: auto;
  }
}

.hero_btn {
  display: none;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .hero_btn {
    display: block;
    color: #fff;
    font-weight: semi-bold;
    background: #000;
    padding: 1em;
    border: none;
    border-radius: 12px;
    margin-top: 2em;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
}

.link {
  text-decoration: none;
  color: #fff;
  font-weight: semi-bold;
}

.side_text {
  display: none;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .side_text {
    display: block;
    font-family: "Raleway", sans-serif;
    padding: 0em 4em;
  }
}

.services {
  padding: 2em 3.5em;
  height: 100%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .services {
    display: block;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .services {
    display: none;
  }
}

.service {
  margin: 15px;
}

.service:hover {
  background: #FFF7F5;
  padding: 10px;
  border-radius: 12px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.service_heading {
  text-align: center;
  font-weight: normal;
}

.service p {
  font-family: "Julius Sans One", sans-serif;
}

.icon {
  height: 50px;
  width: 50px;
  display: block;
  margin: auto;
}

.cta_section {
  margin-bottom: 2em;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .cta_section {
    display: none;
  }
}

.cta_heading {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
}

.cta_btn {
  display: block;
  margin: auto;
  color: #fff;
  font-weight: semi-bold;
  background: #000;
  padding: 1em;
  border: none;
  border-radius: 12px;
  margin-top: 2em;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin-bottom: 2em;
}

.cta_btn a {
  text-decoration: none;
  color: #fff;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.hero_title,
.sub_title,
.hero_btn {
  -webkit-animation: 1s ease-out 0s 1 slideInLeft;
          animation: 1s ease-out 0s 1 slideInLeft;
}
/*# sourceMappingURL=Home.module.css.map */