@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/breakpoints";

section {
  height: 100vh;
  width: 100%;
}

.hero {
  height: 40vh;
  background: $princess-plush;

  @include desktop {
      
  }

}

.nav {
    @include desktop {
        width: 100%;
    }
}

.hero_text {
  padding: 3em 2em;
  background: $princess-plush;
  margin-top: 20px;

  @include desktop {
    height: 60%;
    width: 50%;
    position: fixed;
    left: 0;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    margin-top: 10em;
    padding: 10em 8em;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 20%;
  }
}

.hero_title {
  font-family: $main;
  font-weight: normal;
}

.sub_title {
  font-family: $title;
}

.hero_side {
  display: none;

  @include desktop {
      display: block;
      height: 70%;
      width: 50%;
      background: $peace;
      position: fixed;
      right: 0;
      z-index: 1;
      top: 0;
      overflow-x: hidden;
      margin-top: 9em;
  }
}



.hero_img {
    display: none;

    @include desktop {
        display: block;
        height: 400px;
        width: 400px;
        display: block;
        margin: auto;
    }
}

.hero_btn {
    display: none;

    @include desktop {
        display: block;
        color: $peace;
        font-weight: semi-bold;
        background: #000;
        padding: 1em;
        border: none;
        border-radius: 12px;
        margin-top: 2em;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;   
    }
}

.link {
    text-decoration: none;
    color: $peace;
    font-weight: semi-bold;
}

.side_text {
    display: none;

    @include desktop {
        display: block;
        font-family: $main;
        padding: 0em 4em;
    }
}

.services {
  padding: 2em 3.5em;

  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }
}

.service {
  margin: 15px;
}

.service:hover {
  background: $princess-plush;
  cursor: pointer;
  padding: 10px;
  border-radius: 12px;
  transition: 0.3s ease-out;
}

.service_heading {
  display: inline-block;
  margin-left: 2px;
  font-weight: normal;
}

.service p {
  font-family: $title;

  span {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
  }
}

.dot_i {
  background: rgba(191, 163, 152, 0.46);
}

.dot_ii {
  background: rgba(238, 187, 184, 0.46);
}

.dot_iii {
  background: rgba(222, 163, 160, 0.46);
}

.dot_iv {
  background: rgba(126, 126, 126, 0.46);
}

.cta_section {
  margin-bottom: 2em;

    @include desktop {
        display: none;
    }
}

.cta_heading {
  text-align: center;
  font-family: $main;
  font-weight: normal;
}

.cta_btn {
  display: block;
  margin: auto;
  color: $peace;
  font-weight: semi-bold;
  background: #000;
  padding: 1em;
  border: none;
  border-radius: 12px;
  margin-top: 2em;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin-bottom: 2em;

  a {
    text-decoration: none;
    color: #fff;
  }
}
