@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/breakpoints';

.main {
    height: 100%;
    width: 100%;
    background: $peace;
   
}

.portfolio_header {
    padding: 3em;
}

.portfolio_heading {
    text-align: center;
    font-family: $main;
    font-weight: 500;
}

.projects_container {
    padding: 1em 1.5em;
    height: 100%;
    margin-bottom: 2em;

    @include desktop {
        display: grid;
        flex-direction: column;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);

    ul {
        
    }
    }

    ul li {
        list-style: none;
        margin-bottom: 2em;

    }
}

.project_img {
    width: 300px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.testimonials {
    height: 100vh;
    width: 100%;
    background: #000;
    margin-bottom: 4em;
}

.quote {
    font-size: 36px;
    text-align: center;
    color: $peace;
    padding: 0.5em
}

.testimonial_text {
    background: #000;
    color: $peace;
    text-align: center;
    height: 40vh;
    padding: 3em;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;

    @include desktop {
        padding: 6em;
    }
}

.testimonial_name {
    color: $peace;
    text-align: center;
    padding: 1em;
    font-style: italic;
}